{% extends "basesign.html" %}

{% block content %}
<h1 style="text-align: center;">Sign In</h1>
<form action="#" method="post">
        <div>
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Enter Username" >
        </div>     
        <br>
        <div>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter Password" >
        </div> 
        <p><input type="submit" name="action" value="submit"></p>
</form>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for msg in messages %}
                                <p><i>{{msg}}</i></p>
                        {% endfor %}
                {% else %}
                        <br>
                {% endif %}
        {% endwith %}
        <form action="#" method="POST">
                <input type="submit" name="action" value="return">
        </form>
{% endblock %}

{% block scripts %}
{% endblock %}

